{
  "type": "service_account",
  "project_id": "onetask-test",
  "private_key_id": "ABCD",
  "private_key": "ASDASD",
  "client_email": "ASDASDcount.com",
  "client_id": "ASDASD2514",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "asdasd",
  "universe_domain": "googleapis.com"
}
